@import '../scss/colors.scss';
@import '../scss//mixins.scss';

@font-face{
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff') format('woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: bolder;
}
.md-menu {
  margin: 10%;
}
.v-list {
  height: 300px;
  overflow-y: auto;
}
.lastupdated{
  margin-left:22px;
  margin-bottom:20px;
}
.indiamap{
  margin:22px
}
h1{
  padding-left: 35%;
  color: $dimGray;
  margin-bottom: 20px;
}
.graphactions{
  margin-top: 30px;
  margin-bottom: 30px;
}
.cumulative{
  border-radius: 5px;
  width: 100px;
  margin: 5px;
  color: $dimGray;
  padding: 15px;
  background-color: $whiteSmoke;
}
.daily{
  border-radius: 5px;
  margin: 5px;
  width: 70px;
  padding: 15px;
  color: $dimGray;
  background-color: $whiteSmoke;
}