@import '../scss/colors.scss';

@font-face {
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff') format('woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: 1000;
}
body {
  background: $white;
}
.container {
  width: 90%;
  margin: 50px auto;
}
.row {
  flex-direction: row;
  justify-content: space-around;
}
.card {
  width:550px;
  margin: 20px;
  background:$white
}
