@import '../scss/colors.scss';

@font-face {
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff') format('woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: 1000;
}
.drawer {
  font-weight: bold;
  color: $ivory;
}
.title {
  color: $dimGray;
}
.subtitle{
  color: $blue
}
.toptitle {
  margin-top: 25px;
}
::v-deep .v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f6f6f7;
}

::v-deep  .v-list-item {
align-items: center;
flex: 11 11 100%;
letter-spacing: normal;
min-height: 40px;
outline: none;
padding: 0 16px;
position: relative;
text-decoration: none;
}
