@import '../scss/colors.scss';

@font-face {
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff') format('woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: 1000;
}
.drawer {
  font-weight: bold;
  color: $ivory;
}
.title {
  color: $dimGray;
}
.subtitle{
  color: $blue
}
.toptitle {
  margin-top: 25px;
}
::v-deep .v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $white;
}
