@import '../scss/colors.scss';
@import '../scss//mixins.scss';

@font-face {
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: 12                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       00;
}
body {
  background: $white;                                                                                                           
}
.searchTitle{
  color: $dimGray;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  border: none;
  outline: none;
}
.searchDiv{
  border-radius: 7px;
  background: $white;
  height: 58px;                                                                                                                                                                                                                                                                                                   
  margin-left: 5%;
  width: 90%;
  box-shadow: 1px 1px 1px 1px $dimGray;
  margin-bottom: 4%;
  border: none;                                                                     
  outline: $white;                                                                                                                                                                                      
}
.search{                                                                                                                                                                                                                                                                                                                                                                                                                                            
  background: $white;
  height: 40px;
  padding-top: 3%;
  padding-left: 2%;
  font-size: 15px;
  border: none;
  outline: none;
}
.showdatetime{
  color: $gray;
  margin-left: 35%;
}
.iconsontable{
  padding: 5px;
  margin-left: 15px;
  background-color: $dimgray;
}
.main-overview {
  padding: 20px;
  margin-top: 22px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 7fr));
  grid-gap: 4px;
}
.confirmed  {
  @include PatientCountCard;
  color: $red;

  :hover{
    border-radius: 7px;
    background-color: $dim-red;
  }
}
.active  {
  @include PatientCountCard;
  color: $blue;
  :hover{
    border-radius: 7px;
    background-color: $light-blue;
  }
}
.recovered  {
  @include PatientCountCard;
  color: $green;
  :hover{
    border-radius: 7px;
    background-color: $light-green;
  }
}
.deceased  {
  @include PatientCountCard;
  color: $gray;
  :hover{
    border-radius: 7px;
    background-color: $dimgray;
  }
}
.cardtag{
  padding: 12px;
  font-size: 12px;
}
.count{
  padding-top: 7px;
  font-size: 25px;
}
p span {
  display: block;
}
.helptable{
  padding: 10px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: $light-gray;
  width: 50%;
}
.tableContainer{
  color: $dimgray;
  transition: all 600ms ease-in-out 50ms;
  width: 550px;
  overflow-x: auto;
}
.tabletitles{
  margin-top: 20px;
  margin-left: 13px;
}
.tabletitlestate{
  margin: 2px;
  padding: 8px;
  padding-right: 51px;
  border-radius: 3px;
  background-color: $light-gray;
  color: $dimGray;
}
.tabletitleC, .tabletitleA, .tabletitleR, .tabletitleD, .tabletitleT{
  width: 50px;
  padding: 8px;
  margin: 2px;
  padding-left: 58px;
  color: $dimGray;
  background-color: $light-gray;
  border-radius: 3px;
}
.trend{
  margin-top: 20px;
  padding: 3px;
  padding-bottom: 20px;
}
.stateName{
  color: $dimGray;
  @include tableCard;
  width: 130px;
  background-color: $light-gray;
}
.confirmCount, .activeCount, .recoveredCount, .deceasedCount, .totalCount{
  width: 80px;
  color: $dimGray;
  position: relative;
  @include tableCard;
  background-color: $whiteSmoke;
  text-align: right;
}
.stateName:hover ~.confirmCount{
  background-color: $light-gray;
}
.stateName:hover ~.activeCount{
  background-color: $light-gray;
}
.stateName:hover ~.recoveredCount{
  background-color: $light-gray;
}
.stateName:hover ~.deceasedCount{
  background-color: $light-gray;
}
.stateName:hover ~.totalCount{
  background-color: $light-gray;
}
    

//table row class