@import '../scss/colors.scss';
@import '../scss//mixins.scss';

@font-face {
  font-family :'Archia-Regular';
  src: url('../../public/fonts/Archia-Regular.woff');
}
*{
  font-family :'Archia-Regular';
  font-weight: 1200;
}
body {
  background: $white;
}
.searchTitle{
  color: $dimGray;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  border: none;
  outline: none;
}
.searchDiv{
  border-radius: 7px;
  background: $white;
  height: 58px;
  margin-left: 5%;
  width: 90%;
  box-shadow: 1px 1px 1px 1px $dimGray;
  margin-bottom: 4%;
  border: none;
  outline: $white;
}
.search{
  
  background: $white;
  height: 40px;
  padding-top: 3%;
  padding-left: 2%;
  font-size: 15px;
  border: none;
  outline: none;
}
.main-overview {
  padding: 20px;
  margin-top: 22px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 7fr));
  grid-gap: 4px;
}
.confirmed  {
  @include PatientCountCard;
  color: $red;
  background-color: $dim-red;
}
.active  {
  @include PatientCountCard;
  color: $blue;
  background-color: $light-blue;
}
.recovered  {
  @include PatientCountCard;
  color: $green;
  background-color: $light-green;
}
.deceased  {
  @include PatientCountCard;
  color: $gray;
  background-color: $dimgray;
}
.tablerow{
  :hover{
    background-color: $whiteSmoke;
  }
}
.count{
  font-size: 20px;
}
p span {
  display: block;
}
.tableContainer{
  transition: all 600ms ease-in-out 50ms;
  width: 550px;
  overflow-x: auto;
}
.trend{
  margin-top: 20px;
  padding: 3px;
}
.stateName{
  background-color: $whiteSmoke;
  @include tableCard;
  width: 120px;
}
.confirmCount, .activeCount, .recoveredCount, .deceasedCount, .totalCount{
  width: 80px;
  @include tableCard;
}
