$white:#FFFF;
$dimGray:#696969;
$blue: #0000FF;
$red:#FF0000;
$green:#2E8B57;
$gray:#696969;
$whiteSmoke:#f5f5f5;
$dimgray:#F0FFF0;
$dim-red:#FFC0CB;
$light-blue:#B0E0E6;
$light-green:#98FB98;
$ivory:#F0FFF0;