@import './colors.scss';

  $left-card-width:100%;
  $right-card-width:45%;
  $margin-left:20%;
  $margin-top:10%;
  $right-card-margin:3%;

  $bgcolor:#FFF;
  $last-updated-btn-margin:22px;
  $dropdown-height:300px;
  $deceased-box-color:#F5F5F5;
  $confirm-box-color: #FFC0CB;
  $active-box-color:#B0E0E6;

  $recover-box-color:#98FB98;
  $container-width: 90%;
  $container-margin:50px auto;
  $card-in-home-component:550px;
  $margin:20px;

  $corner-radius:5px;
  $search-bar-font-size:15px;
  $search-bar-height:58px;
  $search-bar-margin:4%;
  $search-bar-padding-left:2%;
  $search-bar-padding-top:3%;

  *{
    font-family :'Varela Round';
  }
  body {
    background: $bgcolor;
  }
  .container {
    width: $container-width;
    margin: $container-margin;
  }
  .row {
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    width: $card-in-home-component;
    margin: $margin;
    background:$bgcolor;
  }

  .card:hover {
    transform: scale(1.010);
  }
  .searchTitle{
    color: $dimGray;
    display: flex;
    justify-content: center;
    padding-bottom: $right-card-margin;
  }
  .searchDiv{
    background: $white;
    height: $search-bar-height;
    margin-left: $search-bar-margin;
    width: $container-width;
    box-shadow: 1px 1px 2px 1px $dimGray;
    margin-bottom: $search-bar-margin;
  }
  .search{
    background: $white;
    height: 40px;
    padding-top: $search-bar-padding-top;
    padding-left: $search-bar-padding-left;
    font-size: $search-bar-font-size;
  }
  .md-menu {
    margin: $margin-top;
  }
  .indiaButton{
    font-weight :bold;
  }
  .v-list {
    height: $dropdown-height;
    overflow-y: auto;
  }
  .lastupdated{
    margin-left: $last-updated-btn-margin;
  }
  .main-overview {
    padding: $margin;
    margin-top: $last-updated-btn-margin;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 7fr));
    grid-gap: 4px;
  }
  .confirmed  {
    border-radius: $corner-radius;
    display: flex;
    background-color: $confirm-box-color;
  }
  .active  {
    border-radius: $corner-radius;
    display: flex;
    background-color: $active-box-color;
  }
  .recovered  {
    border-radius: $corner-radius;
    display: flex;
    background-color: $recover-box-color;
  }
  .deceased  {
    border-radius: $corner-radius;
    display: flex;
    background-color: $deceased-box-color;
  }
  p span {
    display: block;
  }
  .map{
    margin-top: $margin-top;
  }
  path:hover {
    fill: $confirm-box-color;
    stroke: $bgcolor;
  }
  svg{
    fill:#B0E0E6;
    stroke:$bgcolor
  }