@import './colors.scss';

@mixin PatientCountCard {
    margin:2px;
}
@mixin tableCard {
    padding: 8px;
    margin:2px;
    font-size:13px;
    border-radius: 3px;
    :hover{
        background-color: $light-gray;
    }
}